*{
    /* border: 1px solid red; */
    margin: 0%;
    padding: 0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}


/* .container{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
} */

.commercial{
    height: 60vh;
    width: 100%;
}

#video{
    object-fit: initial;
    height: 100%;
    width: 100%;

}

.nav{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0%;


}

a{
    text-decoration: none;
    color: azure;
}

.Logo{
    width: 10vh;
    height: 10vh;
}

.images{
    width: 20vh;
    height: 20vh;
}


.Categories{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Shoes-box{
    display: flex;
    justify-content: space-around;
}

.Shirts-box{
    display: flex;
    justify-content: space-around;
}

.Pants-box{
    display: flex;
    justify-content: space-around;
}