*{
    border: 1px solid red;
    margin: 0%;
    padding: 0%;
}


.container{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.images{
    width: 10vh;
    height: 10vh;
}